/* Fondo */
body {
    margin               : 0;
    padding              : 0;
    background           : url(registroBack.jpg) no-repeat center top;
    background-attachment: fixed;
    background-size      : cover;
    background-position  : center;
    height               : 115vh;
    font-family          : sans-serif;
}

/* Contenedor del registro */
.registro-box {
    width     : 580px;
    height    : 620px;
    background: rgba(0, 0, 0, 0.9);
    color     : rgb(255, 255, 255);
    top       : 50%;
    left      : 50%;
    position  : absolute;
    transform : translate(-50%, -50%);
    box-sizing: border-box;
    padding   : 20px 30px;
    margin-top: 50px;
}

/* Titulo en la caja de registro */
.registro-box h1 {
    margin    : 0;
    padding   : 0 0 20px;
    text-align: center;
    font-size : 22px;
}

/* Opciones de los titulos de los campos */
.registro-box label {
    margin     : 0;
    padding    : 0;
    font-weight: bold;
    display    : block;
}

/* Opciones de los input */
.registro-box input {
    width        : 100%;
    margin-bottom: 20px;
}

/* Opciones del texto de los input */
.registro-box input[type="text"],
.registro-box input[type="number"],
.registro-box input[type="password"] {
    border       : none;
    border-bottom: 1px solid rgb(255, 255, 255);
    background   : transparent;
    outline      : none;
    height       : 40px;
    color        : rgb(255, 255, 255);
    font-size    : 16px;
}

/* Boton de registrar */
.registro-box input[type="submit"] {
    border       : none;
    outline      : none;
    height       : 40px;
    background   : red;
    color        : rgb(255, 255, 255);
    font-size    : 18px;
    border-radius: 20px;
}

/* Boton de registrar en hover*/
.registro-box input[type="submit"]:hover {
    cursor    : pointer;
    background: green;
    color     : rgb(0, 0, 0);
}

/* Campo estado deshabilitado */
input:disabled {
    color: rgb(160, 160, 160) !important;
}

/* Efecto visual de un campo mínimo de 6 caracteres */
.registro-box input[type="password"]:invalid {
    border       : none;
    border-bottom: 2px solid red;
    background   : transparent;
    outline      : none;
    height       : 40px;
    color        : red;
    font-size    : 16px;
}