<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" />
    <title>CSS Units</title>
    <link rel="stylesheet" href="medios-pago.component.css" />
</head>

<body>

    <div class="caja" >
        <select>
          <option *ngFor="let mediosP of medioPagos">{{mediosP.name}}</option>
        </select>
      </div>

      <div class="tarjeta">
        <label for="tajeta">Num. Tarjeta</label>
        <input type="text" placeholder="Ingresa el número de la tarjeta." required>
        <label for="cvv">CVV</label>
        <input type="text" placeholder="Ingresa el CVV de la tarjeta." required>
        <label for="feExpe">Fecha expedición</label>
        <input type="date" placeholder="Ingresa la fecha expedición de la tarjeta." required>
      </div>

</body>

</html>